aniso8601==4.1.0
bleach==3.1.0
Click==7.0
dominate==2.3.5
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-PageDown==0.2.2
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.3.2
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
html5lib==1.0.1
itsdangerous==1.1.0
Jinja2==2.10
Markdown==3.0.1
MarkupSafe==1.1.0
python-dateutil==2.7.5
pytz==2018.9
six==1.12.0
SQLAlchemy==1.2.16
visitor==0.1.3
webencodings==0.5.1
Werkzeug==0.14.1
WTForms==2.2.1
